@model Assetify.Models.Search

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Search</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCommercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCommercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhoods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhoods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForSell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForSell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinGardenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinGardenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxGardenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxGardenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinTotalFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinTotalFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTotalFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTotalFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeIdIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeIdIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinEntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinEntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FurnishedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FurnishedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orientations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orientations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsElevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsElevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBalcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBalcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTerrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTerrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRenovated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRenovated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRealtyCommission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRealtyCommission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAircondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAircondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMamad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMamad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPandorDoors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPandorDoors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccessible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccessible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKosherKitchen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKosherKitchen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKosherBoiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKosherBoiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnPillars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnPillars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRoomates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRoomates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsImmediate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsImmediate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNearTrainStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNearTrainStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNearLightTrainStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNearLightTrainStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNearBeach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNearBeach)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SearchID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
