@model Assetify.Models.Search

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Search</h4>

<hr />
<div class="row">
    <div class="col-md-10">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            More search options
        </button>
        <form asp-action="Search" class="collapse" id="collapseExample">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="UserID" class="control-label"></label>
                    <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
                </div>*@
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeIdIn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TypeIdIn, new SelectList(AssetType.GetValues(typeof(AssetType))))
                            @Html.ValidationMessageFor(model => model.TypeIdIn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FurnishedIn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FurnishedIn, new SelectList(FurnishedType.GetValues(typeof(FurnishedType))))
                            @Html.ValidationMessageFor(model => model.FurnishedIn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Neighborhoods" class="control-label"></label>
                        <input asp-for="Neighborhoods" class="form-control" />
                        <span asp-validation-for="Neighborhoods" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinPrice" class="control-label"></label>
                        <input asp-for="MinPrice" class="form-control" />
                        <span asp-validation-for="MinPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxPrice" class="control-label"></label>
                        <input asp-for="MaxPrice" class="form-control" />
                        <span asp-validation-for="MaxPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinSize" class="control-label"></label>
                        <input asp-for="MinSize" class="form-control" />
                        <span asp-validation-for="MinSize" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxSize" class="control-label"></label>
                        <input asp-for="MaxSize" class="form-control" />
                        <span asp-validation-for="MaxSize" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinGardenSize" class="control-label"></label>
                        <input asp-for="MinGardenSize" class="form-control" />
                        <span asp-validation-for="MinGardenSize" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxGardenSize" class="control-label"></label>
                        <input asp-for="MaxGardenSize" class="form-control" />
                        <span asp-validation-for="MaxGardenSize" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinRooms" class="control-label"></label>
                        <input asp-for="MinRooms" class="form-control" />
                        <span asp-validation-for="MinRooms" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxRooms" class="control-label"></label>
                        <input asp-for="MaxRooms" class="form-control" />
                        <span asp-validation-for="MaxRooms" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinFloor" class="control-label"></label>
                        <input asp-for="MinFloor" class="form-control" />
                        <span asp-validation-for="MinFloor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxFloor" class="control-label"></label>
                        <input asp-for="MaxFloor" class="form-control" />
                        <span asp-validation-for="MaxFloor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MinTotalFloor" class="control-label"></label>
                        <input asp-for="MinTotalFloor" class="form-control" />
                        <span asp-validation-for="MinTotalFloor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="MaxTotalFloor" class="control-label"></label>
                        <input asp-for="MaxTotalFloor" class="form-control" />
                        <span asp-validation-for="MaxTotalFloor" class="text-danger"></span>
                    </div>
                </div>
            </div>


            @*<div class="form-group">
                    <label asp-for="Orientations" class="control-label"></label>
                    <select asp-for="Orientations" class="form-control"></select>
                    <span asp-validation-for="Orientations" class="text-danger"></span>
                </div>*@
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsForSell" /> @Html.DisplayNameFor(model => model.IsForSell)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsElevator" /> @Html.DisplayNameFor(model => model.IsElevator)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsBalcony" /> @Html.DisplayNameFor(model => model.IsBalcony)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsTerrace" /> @Html.DisplayNameFor(model => model.IsTerrace)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsStorage" /> @Html.DisplayNameFor(model => model.IsStorage)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsRenovated" /> @Html.DisplayNameFor(model => model.IsRenovated)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsRealtyCommission" /> @Html.DisplayNameFor(model => model.IsRealtyCommission)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsAircondition" /> @Html.DisplayNameFor(model => model.IsAircondition)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsMamad" /> @Html.DisplayNameFor(model => model.IsMamad)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsPandorDoors" /> @Html.DisplayNameFor(model => model.IsPandorDoors)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsAccessible" /> @Html.DisplayNameFor(model => model.IsAccessible)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsKosherKitchen" /> @Html.DisplayNameFor(model => model.IsKosherKitchen)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsKosherBoiler" /> @Html.DisplayNameFor(model => model.IsKosherBoiler)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsOnPillars" /> @Html.DisplayNameFor(model => model.IsOnPillars)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsBars" /> @Html.DisplayNameFor(model => model.IsBars)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsRoomates" /> @Html.DisplayNameFor(model => model.IsRoomates)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsImmediate" /> @Html.DisplayNameFor(model => model.IsImmediate)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsNearTrainStation" /> @Html.DisplayNameFor(model => model.IsNearTrainStation)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsNearLightTrainStation" /> @Html.DisplayNameFor(model => model.IsNearLightTrainStation)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsNearBeach" /> @Html.DisplayNameFor(model => model.IsNearBeach)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-inline-input" asp-for="IsCommercial" /> @Html.DisplayNameFor(model => model.IsCommercial)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MinEntryDate" class="control-label"></label>
                <input asp-for="MinEntryDate" class="form-control" />
                <span asp-validation-for="MinEntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@if (ViewBag.searchedAssets != null)
{
    @foreach (var item in ViewBag.searchedAssets)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" @*alt="C:\Users\stavb\Desktop\images\house.jpg"*@>
                <div class="card-body">
                    <i class="fas fa-id-card"></i>
                    @*<h5 class="card-title">@item.Description</h5>*@
                    @*<p class="card-text">@item.Address.Full</p>*@
                    <a asp-action="Edit" asp-route-id="@item.AssetID" class="card-link">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AssetID" class="card-link">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AssetID" class="card-link">Delete</a>
                    <p class="card-text"><small class="text-muted">Created at @item.CreatedAt</small></p>
                </div>
            </div>
        </div>
    }
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
