@model Assetify.Models.Asset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Furnished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Furnished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GardenSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GardenSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BalconySize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BalconySize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFloor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalFloor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfParking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOfParking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsElevator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsElevator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBalcony)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBalcony)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTerrace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsTerrace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsStorage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsStorage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRenovated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRenovated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRealtyCommission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRealtyCommission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAircondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAircondition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsMamad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsMamad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPandorDoors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPandorDoors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccessible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAccessible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsKosherKitchen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsKosherKitchen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsKosherBoiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsKosherBoiler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnPillars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOnPillars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsForSell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsForSell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCommercial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCommercial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRoomates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRoomates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsImmediate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsImmediate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNearTrainStation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNearTrainStation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNearLightTrainStation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNearLightTrainStation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNearBeach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNearBeach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RemovedReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemovedReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.AddressID)
        </dd>
    </dl>
    @foreach (var item in Model.Images)
    {
        <img src="@Html.DisplayFor(modelItem => item.Path)" alt="Content/Images/default-house.png" width="300" height="300">
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
