@model IEnumerable<Assetify.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<!-- Create asset button -->
<div class="create-btn">
    <button type="button" class="btn btn-primary btn-lg" asp-action="Create">
        <a asp-action="Create">Create Asset</a>
    </button>
</div>
<br />

<!-- Search button -->
<div class="md-form active-cyan-2 mb-3">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<!-- Display all the assets -->
@foreach (var item in Model)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." class="card-img" alt="no image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Description</h5>
                    <p class="card-text">@item.Address.Full</p>
                    <a asp-action="Edit" asp-route-id="@item.AssetID" class="card-link">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AssetID" class="card-link">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AssetID" class="card-link">Delete</a>
                    <p class="card-text"><small class="text-muted">Created at @item.CreatedAt</small></p>
                </div>
            </div>
        </div>
    </div>
}
