@model IEnumerable<Assetify.Models.Asset>

@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<!-- Create asset button -->
<div class="create-btn">
    <button type="button" class="btn btn-primary btn-lg" asp-action="Create" position="left">
        <a asp-action="Create">Create Asset</a>
    </button>
</div>
<br />

<!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" onfocus="if(this.value == 'Search') { this.value = ''; }" value="Search"
           aria-label="Search">
</form>
<br />


<!-- Display all the assets -->
<div class="row">

        @foreach (var item in ViewBag.AssetsToView)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" @*alt="C:\Users\stavb\Desktop\images\house.jpg"*@>
                    <div class="card-body">
                        <i class="fas fa-id-card"></i>
                        @*<h5 class="card-title">@item.Description</h5>*@
                        @*<p class="card-text">@item.Address.Full</p>*@
                        <a asp-action="Edit" asp-route-id="@item.AssetID" class="card-link">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.AssetID" class="card-link">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.AssetID" class="card-link">Delete</a>
                        <p class="card-text"><small class="text-muted">Created at @item.CreatedAt</small></p>
                    </div>
                </div>
            </div>
        }

   

</div>
