@model IEnumerable<Assetify.Models.Asset>

@{
    ViewData["Title"] = "Index";
    int counter = 0;
    string imgSrcUrl = "";
}

<!-- Create asset button -->
<div class="create-btn">
    <button type="button" class="btn btn-primary btn-lg" asp-action="Create" position="left">
        <a asp-action="Create">Create Asset</a>
    </button>
</div>
<br />

<!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" onfocus="if(this.value == 'Search') { this.value = ''; }" value="Search"
           aria-label="Search">
</form>
<br />


<!-- Display all the assets -->
<div id="listofcards">
    <div class="row">
        @foreach (var item in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {
            @:</div>
            @:<div class="row">
            }

            <div class="card">
                @if (item.Images.Count > 0)
                    imgSrcUrl = item.Images.First().Path;
                else
                    imgSrcUrl = "assets/default-house.jpg";
                <img class="card-img-top" src="@imgSrcUrl" alt="Image not found">
                <div class="card-img-overlay align-bottom">
                    <span>
                        <img src="~/assets/floors-icon.jpg" alt="Floor:" />@item.Floor
                        <img src="~/assets/rooms-icon.png" alt="Rooms:" style="margin-left: 78px;" />@item.Rooms
                        <img src="~/assets/size-icon.png" alt="Size:" style="margin-left: 78px;" />@item.Size
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @item.Description
                        <span class="float-right font-weight-light">@Convert.ToDecimal(item.Price).ToString("#,##0")</span>
                    </h5>
                    <div class="card-subtitle">
                        <img src="assets/location.png" width="15" height="15">
                        @item.Address.Street, @item.Address.City
                    </div>
                    <p class="card-text">@item.Address.Full</p>
                    <a asp-action="Edit" asp-route-id="@item.AssetID" class="card-link">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AssetID" class="card-link">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AssetID" class="card-link">Delete</a>
                    <p class="card-text"><small class="text-muted">Created at @item.CreatedAt</small></p>
                </div>
            </div>

            counter++;
        }
    </div>
</div>
